body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #333333;
    font-size: 16px;
}

h1 {
    background-color: #333;
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 24px;
}